/* components/Navbar.module.css */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
  background: #570580;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif; /* Using Roboto font */
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.navlink:hover {
  background-color: #9A03E4;
}

.active {
  background-color: #9A03E4;
}

.logo {
  width: 70%;
  max-width: 350px;
  height: auto;
}

/* styles for screens larger than 600px */
@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }

  .navlink {
    font-size: 20px;
  }

  .logo {
    width: auto;
  }
}

/* styles/Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #f0f0f0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.pingPongImage {
  width: 90%;
  max-width: 500px;
  height: auto;
}

/* styles for screens larger than 600px */
@media (min-width: 600px) {
  .pingPongImage {
    width: auto;
  }
}
